#a{
 color: blue;
}

.A{
    background-color: blue; color: beige;
}
#b{
    color: blue;
}
.B{
    background-color: blue;color: beige;
}
#c{
    color: blue;
}
#f{
    background-color: black; color: beige;
}
